@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var img = Umbraco.Media(Model.MacroParameters["Image"]).umbracoFile;
    var line1 = Model.MacroParameters["Line1"];
    var line2 = Model.MacroParameters["Line2"];
    var link = Model.MacroParameters["Link"];

  var id=  Guid.NewGuid().ToString("N");
}



<a href="#" class="book-external-link"  data-toggle="modal" data-target="#@id">

    <table class="book-action">
        <tr>
            <td>
                <img class="" src="@img" alt="@line1 @line2" />
            </td>
            <td>
                <span class="line-one">@Html.Raw(@line1)</span><br />
                <span class="line-two">@Html.Raw(@line2)</span>
            </td>
        </tr>
    </table>
 

</a> 


<div class="modal fade" id="@id" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@Model.MacroParameters["Link"]"></iframe>
            </div>
        </div>
    </div>
</div>


<script>
    $("#@id").on('hidden.bs.modal', function (e) {
        $("#@id iframe").attr("src", $("#@id iframe").attr("src"));
    });
</script>  
 